body, html {
    margin: 0;
    height: 100%;
    font-family: "Text Me One", sans-serif;
}
.header {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}
.headtext{
    color: deeppink;
    font-weight: bolder;
    
}
.left, .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.left {
    background-color: #D2B48C;
}
.right {
    background-color: #FFB6C1;
}
main {
    height: 100%;
}
.section {
    margin: 10px auto;
    padding: 0 15px;
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
}
.section h1 {
    width: 80%;
    height: 80px;
    line-height: 80px;
    font-size: 2.3em;
    font-weight: normal;
    color: #628190;
    margin: auto;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: deeppink;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
        height: 50vh;
    }
    .section {
        width: 90%;
    }
}
.btn{background-color: deeppink;
     color: whitesmoke;
     height: 30px;
     border-radius: 5px;
     text-align: center;

    
}
article {
    display: inline-block;
    margin: 23px 23px;
    width: 270px;
    height: 270px;
}
article > a {
    display: block;
    width: 75px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #628190;
    font-weight: bold;
    text-decoration: none;
    background: #F8F8;
    border: 1px solid #e7e7e7;
}
.boxforall {
    position: relative;
    width: 280px;
    height: 210px;
    background-image: url(../images/1.jpg);
    background-size: cover;
    box-shadow: 0 0 4px 0.1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out; 
}

.boxforall:hover {
    transform: scale(1.1); 
}
.overlay {
    position: absolute;
    width: 280px;
    height: 210px;
    text-align: center;
    line-height: 210px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 20, 147, 0.5));
    transition: 0.5s;
   
}
.overlay > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    color: #E75480;
    background: white;
}
.overlay1 {
    top: -210px;
}
.boxforall:hover .overlay1 {
    top: 0px;
    transition: 0.5s;
}
.overlay2 {
    right: 280px;
}
.boxforall:hover > .overlay2 {
    right: 0;
    transition: 0.5s;
}
.overlay3 {
    bottom: -210px;
}
.boxforall:hover > .overlay3 {
    bottom: 0;
    transition: 0.5s;
}
.overlay4 {
    left: 280px;
}
.boxforall:hover > .overlay4 {
    left: 0;
    transition: 0.5s;}
.boxforall:hover > .overlay5 {
    opacity: 1;
}
.boxforall:hover > .overlay5 > a {
    margin: 0;
}
.overlay5 > a:first-child {
    margin-right: 50px;
    transition: .3s;
}
.overlay5 > a:last-child {
    margin-left: 50px;
    transition: .3s;
}
.boxforall:hover > .overlay6 {
    opacity: 1;
}
.boxforall:hover > .overlay6 > a {
    margin: 0;
}
.overlay6 > a:first-child {
    margin-right: -25px;
    transition: 0.3s;
}
.overlay6 > a:last-child {
    margin-left: -25px;
    transition: 0.3s;
}
.overlay7 {
    transform: scale(1.4);
    transition: 0.5s;
}
.boxforall:hover > .overlay7 {
    opacity: 1;
    transform: scale(1);
    transition: .4s;
}
.boxforall:hover > .overlay7 > a {
    transform: scale(1);
}
.overlay8 {
    transition: 0.5s;
}
.overlay8 > a {
    transform: scale(0.6);
    transition: 0.5s;
}
.boxforall:hover > .overlay8 {
    opacity: 1;
    transform: scale(1);
    transition: 0.5s;
}
.boxforall:hover > .overlay8 > a {
    transform: scale(1);
    transition: 0.5s;
}
.firstlinkParent {
    position: relative;
    left: 40px;
}
.overlay8 a.secondlink {
    position: relative;
    left: 50px;
    transform-origin: -27px center;
    transform: rotate(0deg) scale(0,0);
}
.overlay8:hover a.secondlink {
    transform: rotate(180deg) scale(1,1);
}

.opacity{
    opacity: 0;
}


footer{
    width:100%;
    height: 60px;
    background-color: deeppink;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    padding: 7px;
}

